.bg-gray-800 {
  background-color: #2d3748;
}

.p-4 {
  padding: 1rem;
}

.text-white {
  color: #fff;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.mr-4 {
  margin-right: 1rem;
}

.hover\:text-gray-300:hover {
  color: #e2e8f0;
}
